@import url(./normalize.css);
@import url(./reset.css);


body {
  background-color: #ffc;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  
}
/* 가급적 클래스방식의 선택자 추천 */
.header {
  background-color: pink;
}
.visual {
  background-color: skyblue;
}
.main {
  background-color: lavender;
}
.slogan {
  background-color: lightcoral;
}
.footer {
  background-color: lightgreen;
}





